input:focus, textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

.logo {
  max-width: 150px;
}

.logo-banner {
  max-width: 518px;
}

.foto-produto {
  max-width: 620px;
  width: 80%;
}

/* 
  colors
*/
.c-bg-dark {
  background-color: #1C1919 !important;
}

.c-bg-orange {
  background-color: #ED7223 !important;
}

/*
  font-size
*/
.c-fs-1 {
  font-size: 4rem;
}

.c-fs-2 {
  font-size: 3rem;
}

.c-fs-3 {
  font-size: 2.5rem;
}

.c-fs-4 {
  font-size: 2rem;
}

.c-fs-5 {
  font-size: 1.25rem;
}

/*
  border
*/
.c-bw {
  width: 384px;
}

/*
  width
*/
.c-w-fit-content {
  width: fit-content;
}

.c-max-w-1 {
  max-width: 620px;
}

.c-max-w-2 {
  max-width: 460px;
}

/*
  margin
*/
.c-mt-6 {
  margin-top: 107px;
}

.c-mt-n-6 {
  margin-top: -107px;
}


.c-mt-n-7 {
  margin-top: -265px;
}

@media (max-width: 1230px) {
  .logo-banner {
    width: 90%;
  }

  .img-vector {
    width: 100%;
  }

  .como-funciona {
    max-width: 640px;
  }

  .c-fs-1 {
    font-size: 3rem;
  }

  .c-fs-2 {
    font-size: 2rem;
  }

  .c-fs-3 {
    font-size: 1.5rem;
  }

  .c-fs-4 {
    font-size: 1.5rem;
  }

  .c-mt-6 {
    margin-top: 0;
  }

  .c-mt-n-6 {
    margin-top: 0;
  }
}

@media (max-width: 990px) {
  .foto-produto {
    width: 80%;
  }

  .img-vector {
    width: 50%;
  }

  .c-mt-n-7 {
    margin-top: -80px;
  }
}

@media (max-width: 720px) {
  .c-fs-1 {
    font-size: 2rem;
  }

  .c-fs-2 {
    font-size: 1.25rem;
  }

  .c-bw {
    width: 80%;
  }
}

@media (max-width: 560px) {
  .logo-footer {
    width: 100%;
  }

  .c-mt-n-7 {
    margin-top: -40px;
  }
}

@media (max-width: 390px) {
  .c-mt-n-7 {
    margin-top: 0;
  }
}